body {
  font-family: arial, sans-serif;
}
.mail {
  margin: 20px;
}
.content {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 92px;
  text-align: center;
}
.google{
  margin-right: -0.9rem
}
.input {
  display: block;
  text-align: center;
  color: #202124;
}
input {
  width: 450px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.tap_input {
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: calc(632px + 6px);
  width: auto;
  max-width: 584px;

  padding: 5px 8px 0 14px;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.icon {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: 10px;
}
.keyboard,.mic {
  margin: auto;
}
